body * {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: #000000;
    outline: none;
}

.center-vertical {
    align-items: center;
}

header .header-wrap {
    position: relative;
    box-shadow: 0 0 7px #cccccc;
    background-color: #f7f7f7;
}

header .header-wrap:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background: url("img/nav-bg.jpg") no-repeat center;
    background-size: cover;
}

header .header-wrap .first-line {
    align-items: center;
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .header-wrap .first-line .left {
    width: calc(100% - 220px);
}

header .header-wrap .first-line .right {
    width: 220px;
}

header .header-wrap .first-line .text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

header .header-wrap .first-line ul.languages {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}
header .header-wrap .first-line ul.languages li {
    opacity: 0.5;
    color: white;
    margin: 0 10px;
    /*cursor: pointer;*/
    transition: 0.5s;
}

header .header-wrap .first-line ul.languages li a {
    color: white;
    text-decoration: none;
}

header .header-wrap span.dropdown-item {
    color: #8bcdcd;
}

header .header-wrap .first-line .languages li.active, header .header-wrap .first-line ul.languages li:hover {
    opacity: 1;
}

header .header-wrap .second-line .navbar {
    padding: 0;
}

header .header-wrap .second-line ul.navbar-nav.ml-auto {
    width: 100%;
    justify-content: center;
}

header .header-wrap .second-line .navbar-brand {
    max-width: 183px;
    padding: 0;
}

header .header-wrap .second-line .navbar-brand img {
    width: 100%;
}

header .header-wrap .second-line .second-logo {
    max-width: 155px;
    margin-left: 15px;
}

header .header-wrap .second-line .second-logo img {
    width: 100%;
}

header .header-wrap .second-line ul.navbar-nav.ml-auto li {
    margin: 0 15px;
}

header .header-wrap .second-line ul.navbar-nav.ml-auto li a {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.37px;
    text-transform: uppercase;
    transition: 0.5s;
    padding: .5rem 0;
}

header .header-wrap .second-line ul.navbar-nav.ml-auto li a:hover {
    color: #8bcdcd;
}

header .slide {
    padding: 100px 0 70px;
    background: #fafafa url("img/header-bg.jpg")no-repeat top center;
    position: relative;
}

header .slide .text-wrap {
    width: 60%;
    padding-right: 30px;
}

header .slide .text-wrap .header-form {
    border: 1px solid rgb(224, 224, 224);
    background: rgb(255, 255, 255);
    padding: 40px 50px;
    width: 40%;
    position: absolute;
    top: 0;
    right: 15px;
}

header .slide .text-wrap .header-form hr {
    border: none;
    background-color: #8bcdcd;
    height: 10px;
    margin: 0;
    position: relative;
    z-index: 0;
    top: -50px;
}

header .slide .text-wrap .header-form h3 {
    font-size: 22px;
    color: #8bcdcd;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

header .slide .text-wrap .header-form input[type="text"], header .slide .text-wrap .header-form input[type="email"] {
    border: 1px solid rgb(216, 218, 219);
    border-radius: 3px;
    background-color: rgb(246, 249, 249);
    height: 45px;
    line-height: 45px;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    color: #585859;
}

header .slide .text-wrap .header-form .form-check {
    margin-bottom: 40px;
    padding-left: 45px;
    line-height: 30px;
    cursor: pointer;
}

header .slide .text-wrap .header-form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: block;
    border: 1px solid rgb(216, 218, 219);
    border-radius: 3px;
    background-color: rgb(246, 249, 249);
    z-index: 0;
}

header .slide .text-wrap .header-form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 5px;
    width: 9px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(
            45deg
    );
    -ms-transform: rotate(45deg);
    transform: rotate(
            45deg
    );
}

header .slide .text-wrap .header-form .form-check input:checked ~ .checkmark:after {
    display: block;
}

header .slide .text-wrap .header-form .form-check input:checked ~ .checkmark {
    background-color: #8bcdcd;
}

header .slide .text-wrap .header-form input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    top: -3px;
    display: block;
    z-index: 5;
    left: 20px;
}

header .slide .text-wrap .header-form .btn-red {
    border-radius: 8px;
    background-color: rgb(207, 120, 123);
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 15px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}


header .slide .text-wrap .header-form a {
    font-size: 13px;
    color: #585859;
    text-decoration: none !important;
}


header .slide .text-wrap h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
    position: relative;
    line-height: 70px;
    margin-top: 30px;

}


header .slide .text-wrap p {
    color: #585859;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

p {
    line-height: 2;
}

.product-block {
    padding: 80px 0;
}

.product-block .text h2 {
    color: #8bcdcd;
    font-size: 30px;
    margin-bottom: 20px;
}

.product-block .text h2 strong {
    color: #8bcdcd;
}

.product-block .text p {
    color: #585859;
    font-size: 15px;
}

.product-block .slider {
    margin-bottom: 15px;
}

.product-block h3 {
    color: #8bcdcd;
    font-size: 22px;
    font-weight: 400;
}

.product-block h3 span.bigger {
    color: inherit;
    font-weight: 700;
    font-size: 25px;
}

.product-block h5 {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
}

.product-block .flex {
    display: flex;
    align-items: center;
}

.product-block .text-center {
    text-align: center;
}

.product-block .slick-next:before, .product-block .slick-prev:before {
    font-size: 30px;
    color: #8bcdcd;
}

.product-block .slick-dots li {
    width: 10px;
    height: 10px;
}

.product-block .slick-dots {
    bottom: 0;
}

.product-block ul.list-two-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-block ul.list-two-col li {
    width: 47%;
}

.product-block .slick-dots li button:before {
    opacity: 0.5;
    color: #8bcdcd;
}

.product-block .slick-dots li.slick-active button:before {
    opacity: 1;
}

.product-block .slider .slick-slide {
    margin: 15px;
    box-shadow: 0 4px 20px rgba(124, 125, 125, 0.25);
    background-color: #ffffff;
    padding: 30px;
}

.product-block .slider .slider-item {
    display: flex !important;
    align-items: center;
}

.center-align {
    align-items: center;
}

.product-block .product-slider {
    background: white;
    border: 1px solid rgb(224, 224, 224);
}

.product-block .product-slider .slick-slide {
    padding: 30px 15px;
}

.product-block .product-slider .slick-dots {
    bottom: -30px;
}

.product-block .product-slider .slick-dots li button:before {
    color: rgb(216, 216, 216);
    font-size: 13px;
}

.product-block .product-slider .slick-dots li.slick-active button:before {
    color:#8bcdcd;
}

.product-block .slider .slider-item p {
    margin: 0;
}

#second-prod {
    background: url("img/second-prod-bg.jpg ")no-repeat center;
    background-size: cover;
}

#fourth-prod {
    background: url("img/fourth-prod-bg.jpg ")no-repeat center;
    background-size: cover;
}

#year {
    color: inherit;
}

.product-block .slider .slider-item img {
    height: 100%;
    margin-right: 15px;
}

.product-block .slider .slider-item p {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
}

.product-block .img-wrap img {
    width: 100%;
}

.product-block .title h2 {
    color: #8bcdcd;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.product-block ul.list {
    padding-left: 0;
    list-style: none;
}

.product-block ul.list li {
    position: relative;
    color: #4d525a;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 5px;
    margin-left: 25px;
    font-size: 14px;
}
.product-block .moretext {
    display: none;
}

.product-block a.moreless-button {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.product-block a.moreless-button:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #4d525a;
    top: 50%;
    left: 0;
}

.product-block .moreless-button i {
    color: #8bcdcd;
    transition: .5s;
    font-size: 25px;
    background: white;
    z-index: 1;
    position: relative;
    border-radius: 50%;
}
.product-block .moreless-button.rotate i {
    transform: rotate(180deg);
}


.product-block ul.list li:before {
    content: '\f058';
    color: #8bcdcd;
    font-size: 15px;
    font-family: fontAwesome;
    position: absolute;
    left: -25px;
    top: 0;
}

.product-block .buttons-wrap {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-block .buttons-wrap a.btn {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    height: 54px;
    line-height: 54px;
    border-radius: 24px;
    min-width: 240px;
    padding: 0 15px;
    transition: 0.5s;
}

.product-block .buttons-wrap a.btn-red {
    background: #e49699;
    border: 1px solid #e78b8f;
    color: white;
}

.product-block .buttons-wrap a.btn-red:hover {
    background: #e68386;
}

.product-block .buttons-wrap a.btn-green {
    background: white;
    border: 1px solid  #8bcdcd;
    color: #8bcdcd;
}

.product-block .buttons-wrap a.btn-green:hover {
    color: white;
    background: #8bcdcd;
}

#second-prod {
    background: url("img/second-prod-bg.jpg") no-repeat center;
    background-size: cover;
}

footer.footer {
    background: url("img/footer-bg.jpg")no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 70px 0 50px;
}

footer.footer  .footer-form input[type="text"], footer.footer  .footer-form input[type="email"] {
    border: 1px solid rgb(216, 218, 219);
    border-radius: 3px;
    background-color: rgb(246, 249, 249);
    height: 45px;
    line-height: 45px;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    color: #585859;
}


footer.footer  .footer-form .form-check {
    margin-bottom: 40px;
    padding-left: 60px;
    line-height: 30px;
    cursor: pointer;
    text-align: left;
}

footer.footer  .footer-form .form-check a {
    color: white;
}

footer.footer  .footer-form .checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: block;
    border: 1px solid rgb(216, 218, 219);
    border-radius: 3px;
    background-color: rgb(246, 249, 249);
    z-index: 0;
}

footer.footer  .footer-form {
    margin-bottom: 20px;
}

footer.footer  .footer-form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 5px;
    width: 9px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(
            45deg
    );
    -ms-transform: rotate(45deg);
    transform: rotate(
            45deg
    );
}

footer.footer  .footer-form .form-check input:checked ~ .checkmark:after {
    display: block;
}

footer.footer  .footer-form .form-check input:checked ~ .checkmark {
    background-color:#8bcdcd;
}

footer.footer  .footer-form input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    top: -3px;
    display: block;
    z-index: 5;
    left: 20px;
}

footer.footer  .footer-form .btn-red {
    border-radius: 8px;
    background-color: rgb(231, 129, 133);
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 15px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

footer.footer p.copyright{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.right .dropdown {
    top: -10px;
    text-align: right;
}

button#dropdownMenuButton {
    color: white;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font-size: 17px;
}

.modal-mail {
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -412px;
    margin-left: -355px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 50px 80px;
    box-shadow: 0 0 5px #7e7e7e;
    border-radius: 25px;
    background-color: #ffffff;
}

.modal-mail .hidden {
    display: none;
}

.modal-mail h3 {
    color: #659025;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.modal-mail form input[type="text"], .modal-mail form input[type="email"], .modal-mail form select {
    height: 50px;
    border: 1px solid #d8dadb;
    border-radius: 5px;
    background-color: #f6f9f9;
    width: 555px;
    color: #2b2c2d;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    padding: 0 15px;
}

.modal-mail form input::placeholder {
    color: #2b2c2d;
}

.modal-mail form input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    top: -3px;
    display: block;
    z-index: 5;
    left: 20px;
}

.modal-mail form .form-check {
    margin-bottom: 40px;
    padding-left: 45px;
    line-height: 30px;
    cursor: pointer;
}

.modal-mail form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: block;
    border-radius: 5px;
    border: 1px solid #d8dadb;
    background-color: #f6f9f9;
    z-index: 0;
}

/*.modal-mail form .form-check:hover input ~ .checkmark {*/
/*    background-color: #ccc;*/
/*}*/

.modal-mail form .form-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.modal-mail form .form-check input:checked ~ .checkmark {
    background-color: #8bcdcd;
}

.modal-mail form .form-check input:checked ~ .checkmark:after {
    display: block;
}

.modal-mail form .form-check .checkmark:after {
    left: 12px;
    top: 5px;
    width: 9px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.img-wrap-mob {
    max-width: 450px;
    margin: 0 auto;
}

.img-wrap-mob.img-wrap-mob-hidden {
    display: none;
}

.modal-mail .form-check .form-check-label {
    height: 14px;
    color: #1c1d1e;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
}

.modal-mail .form-check .form-check-label a {
    color: #007bff;
}

.modal-mail .btn-red {
    background: #d1676b;
    border: 1px solid #e07e81;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    line-height: 54px;
    border-radius: 24px;
    min-width: 290px;
    padding: 0 20px;
    transition: 0.5s;
    display: block;
    margin: 0 auto;
}

.modal-mail .btn-red:hover {
    background: #dd7175;
}

.modal-mail #modal_close, .modal-mail #modal_close-2, .modal-mail #modal_close-3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #adafaf;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 19px;
}

.terms {
    margin: 40px auto;
}

.terms h2 {
    color: #8bcdcd;
    font-weight: 700;
}

.terms h4 {
    font-weight: 700;
}

.modal-mail #modal_close i, .modal-mail #modal_close-2 i {
    color: white;
}

#mobile-menu {
    position: absolute;
    z-index: 6;
    right: 0;
    top: 0;
    border: none;
    display: none;
}

#mobile-menu .navbar-dark .navbar-toggler {
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    top: -39px;
}

#mobile-menu nav {
    background: none !important;
}

#mobile-menu  ul.navbar-nav.ml-auto {
    background: white;
    box-shadow: 0 0 7px #cccccc;
}

#mobile-menu ul.navbar-nav.ml-auto li {
    margin: 6px 25px;
}

#mobile-menu .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#overlay, #overlay-2, #overlay-3 {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#modal-2 form .form-group .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #1c1d1e;
    font-size: 15px;
    font-weight: 400;
}

.thanks-page h1 {
    color: #8bcdcd;
    margin-bottom: 30px;
}

.thanks-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#modal-2 form .form-group .container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#modal-2 form .form-group .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #f6f9f9;
    border: 1px solid #d8dadb;
    border-radius: 50%;
}

#modal-2 form .form-group .container:hover input ~ .radiomark {
    background-color: #ccc;
}

#modal-2 form .form-group .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

#modal-2 form .form-group .container input:checked ~ .radiomark:after {
    display: block;
}

#modal-2 form .radios {
    display: flex;
}

.iti--separate-dial-code .iti__selected-flag {
    background: none;
}

#modal-2 form .form-group .container .radiomark:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #8bcdcd;
}

.footer h2.color-white {
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}



#button {
    display: inline-block;
    background-color: #8bcdcd;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

.banner {
    padding: 50px 0;
    background: url("img/banner-bg.jpg")no-repeat center;
    background-size: cover;
}

.banner .color-white {
    color: white;
}

.banner h2 {
    font-size: 26px;
    font-weight: 700;
}

.banner p {
    font-size: 20px;
    margin: 0;
}






@media (max-width: 1440px) {
    .modal-mail {
        margin-top: -385px;
        padding: 40px;
        margin-left: -330px;
    }
}

@media (max-width: 1199px) {
    header .slide .img-wrap img {
        right: 0;
        top: 0;
    }
}

@media (max-width: 991px) {
    .img-wrap-desk {
        display: none;
    }

    #mobile-menu {
        display: block;
    }

    .img-wrap-mob {
        display: none;
    }
    .img-wrap-mob.img-wrap-mob-hidden {
        display: block;
    }

    header .slide .text-wrap {
        width: 100%;
        padding-right: 0
    }

    header .slide {
        padding: 30px 0;
    }

    header .slide .text-wrap .header-form {
        width: 100%;
        position: relative;
        margin-bottom: 25px;
        right: 0;
    }

    header .slide .text-wrap h1 {
        margin-bottom: 40px;
    }

    header .header-wrap .first-line .left {
        display: none;
    }

    header .header-wrap .first-line .right {
        width: 100%;
    }

    .right .dropdown {
        top: 0;
        text-align: left;
    }

    header .header-wrap .bg-light .navbar-toggler {
        display: none;
    }

    #benefit .item-wrap {
        width: 100%;
        min-width: 400px;
        margin-bottom: 23px;
        top: 0;
    }

    #benefit .item {
        width: 100%;
    }

    .product-block .col {
        width: 100%;
        min-width: 400px;
    }

    .product-block {
        padding: 50px 0;
    }

    header .slide .text-wrap h1 {
        font-size: 32px;
        line-height: 45px;
    }


    .product-block .title p {
        line-height: 28px;
    }
    .product-block .img-wrap img {
        margin-bottom: 40px;
    }

    .custom-order {
        order: 2;
    }

    .product-slider {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {

    header .slide .img-wrap img {
        display: none;
    }

    .modal-mail {
        padding: 20px 25px;
        margin-left: -158px;
        margin-top: -310px;
        max-width: 320px;
    }

    header .slide .text-wrap .header-form {
        padding: 40px 20px;
    }

    .modal-mail .form-check .form-check-label {
        line-height: 19px;
    }

    .modal-mail form {
        max-width: 260px;
    }

    .modal-mail form input[type="text"], .modal-mail form input[type="email"], .modal-mail form select {
        height: 35px;
        font-size: 14px;
        line-height: 35px;
        max-width: 100%;
        padding: 0px 10px;
        width: 260px;
    }

    .modal-mail form select {
        font-size: 13px;
        padding: 0 0 0 5px;
    }

    .modal-mail h3 {
        font-size: 26px;
        margin-bottom: 0;
    }

    .modal-mail .btn-red {
        font-size: 15px;
        min-width: 260px;
        padding: 0 15px;
    }

    .product-block .title p {
        font-size: 20px;
    }
    .product-block .title h2 {
        font-size: 30px;
    }
}

@media (max-width: 575px) {

    .product-block {
        padding: 30px 0;
    }

    .product-block .img-wrap img {
        width: 100%;
    }

    .modal-mail form .form-check {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .product-block .col, #benefit .item-wrap {
        min-width: 250px;
    }

    header .header-wrap .second-line .navbar-brand {
        max-width: 140px;
        padding: 0;
    }

    header .header-wrap .second-line .second-logo {
        max-width: 115px;
        margin-left: 5px;
    }
}